/*Paleta de colores
#617C9A
#556A87
#43536C
#0C111B
#39455B
#7A92A9*/

#nav {
  background-color: #556a87;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#logo {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  align-items: center;
}

#logo img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

#nav-links {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

#nav-links li {
  text-decoration: none;
  color: #0c111b;
}

#nav-links li a {
  text-decoration: none;
  color: #0c111b;
}

#nav-links a:hover {
  color: #a3b18a;
}

#search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

#search-bar input {
  padding: 10px;
  border-radius: 5px;
  border: none;
}

#search-bar button {
  background-color: #7a92a9;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#search-bar button:hover {
  background-color: #617c9a;
}

#nav-user {
  display: flex;
  gap: 20px;
  list-style-type: none;
}

#nav-user li {
  text-decoration: none;
  color: #0c111b;
}

#nav-user li a {
  text-decoration: none;
  color: #0c111b;
}

#nav-user a:hover {
  color: #a3b18a;
}

.card {
  background-color: #a3b18a;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px #444b6e8a;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 90%;
  max-width: 500px;
  margin: 10px auto;
}

.card img {
  width: 120px;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 20px;
}

.card-content {
  flex: 1;
}

.card-content h2 {
  margin: 0;
  font-size: 1.5rem;
}

input[type="range"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  height: 8px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

input[type="range"]:hover {
  opacity: 1;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #fdff8b;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #ecf691;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-ms-thumb {
  width: 20px;
  height: 20px;
  background: #e9d767;
  border-radius: 50%;
  cursor: pointer;
}

button {
  margin-top: 10px;
  padding: 10px;
  background-color: #8ca578;
  color: rgb(84, 76, 89);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  margin: 0 5px;
}

button:hover {
  background-color: #dbe5b0;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
