<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="detailsSerieStyle.css">
</head>

<body>
    <div id="main">
        <div class="card-serie" v-if="serieId">
            <img :src="`https://image.tmdb.org/t/p/w500/${serie.poster_path}`" alt="serie poster">
            <div class="serie-info">
                <h2>{{ serie.name }}</h2>
                <p>{{ serie.original_name }}</p>
                <p>{{ serie.overview }}</p>
                <p>{{ serie.first_air_date }}</p>
                <div class="generes">
                    <h3>Generes</h3>
                    <ul>
                        <li v-for="genre in serie.genres">{{ genre.name }}</li>
                    </ul>
                </div>
                <p><strong>Original Language:</strong> {{ serie.original_language }}</p>
                <p><strong>Popularity:</strong> {{ serie.popularity }}</p>
                <p><strong>Vote Average:</strong></p>
                <p><strong>Vote Count:</strong></p>
                <p><strong>Rate this movie:</strong></p>
                <input type="range" v-model="rating" min="0" max="10" step="0.5" />
                <p>{{ rating }}</p>
                <div class="buttons">
                    <button @click="saveRating">Save</button>
                    <button @click="deleteRating">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <script>

        const app = Vue.createApp({
            data() {
                return {
                    serieId: null,
                    serie: {},
                    rating: 0
                }
            },
            methods: {

                goToDetails(serie) {
                    console.log(`Fetching details for movie ID: ${serie.id}`);
                    const url = `https://api.themoviedb.org/3/discover/tv?api_key=e2f892788bdea42be5636a47bc7ffdd5`;
                    console.log('API URL:', url)

                    fetch(url)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Network response was not ok');
                            }
                            return response.json();
                        })
                        .then(data => {
                            console.log(data);
                            this.serie = data;
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                }
            },
            mounted() {
            }

        }).mount('#main')
    </script>

</body>

</html>