<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de la Serie</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="detailsSerieStyle.css">
</head>

<body>
    <header>
        <div class="container">
            <img src="logoB.png" alt="Logo de Cinema" class="logo-img">
            <div class="logo">
                <h1></h1>
            </div>
            <nav>
                <ul>
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="ListCategoria.html">Categorias</a></li>
                    <li><a href="homeSerie.html">Explorar Series/TV</a></li>
                    <li><a href="ListClave.html">Palabras Clave</a></li>
                    <li><a href="#"></a></li>
                </ul>
            </nav>

            <nav>
                <ul>
                    <li><a href="Login.html">Log in</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div id="main">
        <div class="card-serie" v-if="serieId">
            <div class="imagen">
                <img :src="'https://www.themoviedb.org/t/p/w600_and_h900_bestv2/' + serie.poster_path"
                    alt="serie poster">
                <div class="single-info">
                    <ul> Favorite </ul>
                    <label class="switch">
                        <input type="checkbox" v-model="isFavorite" @change="toggleFavorite">
                        <span class="slider"></span>
                        <label for="favoriteSwitch"></label>
                    </label>
                </div>
                <div>
                    <div class="rating" @mouseover="hoveredValue" @mouseleave="hoveredValue = 0">
                        <span v-for="star in stars" :key="star" @click="setRating(star)">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                :fill="star <= currentRating || star <= hoveredValue ? '#FFF7AE' : '#04111c'" width="30"
                                height="30">
                                <path
                                    d="M470.935,194.043,333.8,171.757,270.227,48.22a16,16,0,0,0-28.454,0L178.2,171.757,41.065,194.043A16,16,0,0,0,32.273,221.1l97.845,98.636L108.936,457.051a16,16,0,0,0,23.02,16.724L256,411.2l124.044,62.576a16,16,0,0,0,23.02-16.724L381.882,319.74,479.727,221.1A16,16,0,0,0,470.935,194.043Z" />
                            </svg>
                        </span>
                        <button class="reset" @click="resetRating"> reset </button>
                    </div>
                </div>
            </div>

            <div class="card-content">
                <div class="serie-info">
                    <h2>{{ serie.name }}</h2>
                    <p>{{ serie.original_name }}</p>
                    <p>{{ serie.overview }}</p>
                    <p><strong>First Air Date:</strong> {{ serie.first_air_date }}</p>
                </div>
                <div class="generes">
                    <h3>Category</h3>
                    <ul>
                        <li v-for="genre in serie.genres"><a href="#" @click.prevent="goToCategory(genre.id)">{{
                                genre.name }}</a></li>
                    </ul>
                </div>
                <div class="details">
                    <p><strong>Original Language:</strong> {{ serie.original_language }}</p>
                    <p><strong>Popularity:</strong> {{ serie.popularity }}</p>
                    <p><strong>Vote Average:</strong> {{ serie.vote_average }}</p>
                    <p><strong>Vote Count:</strong> {{ serie.vote_count }}</p>
                </div>
                <div v-if="keywords.length > 0">
                    <h3>Keywords</h3>
                    <div style="display: flex; flex-wrap: wrap;">
                        <ul v-for="keyword in keywords" :key="keyword.id" style="margin-right: 10px;">
                            <a :href="`palabrasClave.html?id=${keyword.id}`"
                                style="background-color: #ffffff; padding: 5px 10px; border-radius: 5px; text-decoration: none; color: rgb(86, 149, 220);">
                                {{ keyword.name }}
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <iframe class="trailer" v-if="videoIdUrl" width="700" height="415" :src="videoIdUrl"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>

        <div class="cast" v-if="cast.length > 0">
            <div class="cast-card" v-for="castMember in cast" :key="castMember.id"
                @click="goToDetailsArtist(castMember)">
                <img :src="'https://www.themoviedb.org/t/p/w600_and_h900_bestv2/' + castMember.profile_path"
                    alt="cast member profile">
                <p><strong>{{ castMember.name }}</strong></p>
            </div>
        </div>


        <div class="accordion" id="accordion">
            <h3>Seasons</h3>
            <div class="accordion-item" v-for="season in serie.seasons" :key="season.id">
                <h2 class="accordion-header" :id="'heading' + season.id">
                    <button class="accordion-button" type="button" @click="toggleSeason(season.id)">
                        Season {{ season.season_number }}: {{ season.name }}
                    </button>
                </h2>
                <div :id="'collapse' + season.id" class="accordion-collapse collapse"
                    :class="{ show: isOpen(season.id) }">
                    <div class="accordion-body">
                        <p><strong>Air Date:</strong> {{ season.air_date }}</p>
                        <p><strong>Episode Count:</strong> {{ season.episode_count }}</p>
                        <a :href="'seasonEpisodes.html?serieId=' + serie.id + '&seasonNumber=' + season.season_number">
                            Lista de episodios
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <div v-if="recommendations.length > 0">
            <h3>Recommendations</h3>
            <div class="recommendation">
                <div class="recommendation-card" v-for="recommendation in recommendations" :key="recommendation.id"
                    @click=" goToRecommendationDetails(recommendation.id)">
                    <img :src="'https://www.themoviedb.org/t/p/w600_and_h900_bestv2/' + recommendation.poster_path"
                        alt="recommendation poster">
                    <p><strong>{{ recommendation.name }}</strong></p>
                </div>
            </div>
        </div>
    </div>
    <script>

        const app = Vue.createApp({

            data() {
                return {
                    serieId: null,
                    serie: {},
                    cast: [],
                    season: {},
                    openSeasons: null,
                    rating: 0,
                    videoIdUrl: null,
                    recommendations: [],
                    isFavorite: false,
                    hoveredValue: null,
                    currentRating: 0,
                    stars: [1, 2, 3, 4, 5],
                    keywords: []
                }
            },
            methods: {
                goToDetails(serie) {
                    console.log(`Fetching details for movie ID: ${serie.id}`);
                    const url = `https://api.themoviedb.org/3/tv/${this.serieId}?api_key=0f1911236aa91d9d37ad2b1a76be3c5d`;
                    console.log('API URL:', url)

                    fetch(url)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Error: ' + response.status + ' ' + response.statusText);
                            }
                            return response.json();
                        })
                        .then(data => {
                            console.log(data);
                            this.serie = data;
                            this.getCast();
                            this.getVideos();
                            this.getRecommendations();
                            this.getKeywords();
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                },
                getKeywords() {
                    const url = `https://api.themoviedb.org/3/tv/${this.serieId}/keywords?api_key=0f1911236aa91d9d37ad2b1a76be3c5d`;
                    fetch(url)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Error: ' + response.status + ' ' + response.statusText);
                            }
                            return response.json();
                        })
                        .then(data => {
                            if (data.results && data.results.length > 0) {
                                this.keywords = data.results;
                            } else {
                                console.log("No keywords found")
                            }
                        })

                        .catch(error => {
                            console.error('Error', error);
                        });
                },

                getSerieIdFromUrl() {
                    const urlParams = new URLSearchParams(window.location.search);
                    return urlParams.get('id');
                },

                setRating(star) {
                    this.currentRating = star;
                },
                resetRating() {
                    this.currentRating = 0;
                    this.hoveredValue = 0;
                },


                getVideos() {
                    const requestOptions = {
                        method: "GET",
                        redirect: "follow"
                    };

                    fetch(`https://api.themoviedb.org/3/tv/${this.serieId}/videos?api_key=0f1911236aa91d9d37ad2b1a76be3c5d`, requestOptions)
                        .then((response) => {
                            if (!response.ok) {
                                throw new Error('Error: ' + response.status + ' ' + response.statusText);
                            }
                            return response.json();
                        })
                        .then((data) => {
                            if (data.results && data.results.length > 0) {
                                const trailer = data.results.find(video => video.type === 'Trailer' && video.site === 'YouTube');
                                if (trailer) {
                                    this.videoIdUrl = `https://www.youtube.com/embed/${trailer.key}`;
                                } else {
                                    console.log('No YouTube video found');
                                }
                            }
                        })
                        .catch((error) => console.error(error));
                },

                getCast() {
                    const url = `https://api.themoviedb.org/3/tv/${this.serieId}/aggregate_credits?api_key=0f1911236aa91d9d37ad2b1a76be3c5d`;
                    fetch(url)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Error: ' + response.status + ' ' + response.statusText);
                            }
                            return response.json();
                        })
                        .then(data => {
                            console.log(data);
                            this.cast = data.cast;
                        })
                        .catch(error => {

                        });

                },
                goToDetailsArtist(castMember) {
                    window.location.href = `infoartista.html?id=${castMember.id}`;
                },

                toggleSeason(seasonId) {
                    this.openSeasons = this.openSeasons === seasonId ? null : seasonId;
                },
                isOpen(seasonId) {
                    return this.openSeasons === seasonId;
                },
                goToCategory(genreId) {
                    window.location.href = `Categoria.html?genreId=${genreId}`;
                },

                getRecommendations() {
                    const url = `https://api.themoviedb.org/3/tv/${this.serieId}/recommendations?api_key=0f1911236aa91d9d37ad2b1a76be3c5d`;
                    fetch(url)
                        .then(response => response.json())
                        .then(data => {
                            this.recommendations = data.results;
                            console.log("Recomendaciones:", data.results);
                        })
                        .catch(error => {
                            console.error('Error obteniendo recomendaciones:', error);
                        });
                },
                goToRecommendationDetails(recommendationId) {
                    window.location.href = `detailsSerie.html?id=${recommendationId}`;
                },
            },

            mounted() {
                this.serieId = this.getSerieIdFromUrl();
                console.log('Serie ID:', this.serieId);
                if (this.serieId) {
                    this.goToDetails(this.serieId);
                    this.getKeywords();
                    this.getRecommendations();
                } else {
                    console.log('No serie ID found');
                }

            }

        }).mount('#main')
    </script>

</body>

</html>