<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Episodes List</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="seasonEpisodesStyle.css">
</head>

<body>
    <div id="main">
        <h1>Season {{ seasonNumber }}: Episodes</h1>
        <div v-if="episodes.length > 0">
            <ul>
                <li v-for="episode in episodes" :key="episode.id">
                    <h3>Episode {{ episode.episode_number }}: {{ episode.name }}</h3>
                    <p><strong>Air Date:</strong> {{ episode.air_date }}</p>
                    <p><strong>Overview:</strong> {{ episode.overview }}</p>
                    <button @click="showGuestsStars(episode)">Show Guests Stars</button>
                </li>
            </ul>
        </div>
        <div v-else>
            <p>No episodes found for this season.</p>
        </div>
        <div v-if="guestsStarsModal" class="modal">
            <div class="modal-content">
                <div class="close" @click="closeGuestsStars">&times;</div>
                <h2>Guests Stars</h2>
                <ul>
                    <li v-for="guest in guestStars" :key="guest.id">
                        <img v-if="guest.profile_path"
                            :src="'https://www.themoviedb.org/t/p/w600_and_h900_bestv2/' + guest.profile_path">
                        <h3>{{ guest.name }}</h3>
                        <p><strong>Character:</strong> {{ guest.character }}</p>

                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script>
        const app = Vue.createApp({
            data() {
                return {
                    serieId: null,
                    seasonNumber: null,
                    episodes: [],
                    guestStars: [],
                    guestsStarsModal: false
                }
            },
            methods: {
                fetchEpisodes() {
                    const url = `https://api.themoviedb.org/3/tv/${this.serieId}/season/${this.seasonNumber}?api_key=0f1911236aa91d9d37ad2b1a76be3c5d`;

                    fetch(url)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Error: ' + response.status + ' ' + response.statusText);
                            }
                            return response.json();
                        })
                        .then(data => {
                            this.episodes = data.episodes;
                            console.log("Episodes:", data.episodes);
                        })
                        .catch(error => {
                            console.error('Error fetching episodes:', error);
                        });
                },
                getParamsFromUrl() {
                    const urlParams = new URLSearchParams(window.location.search);
                    this.serieId = urlParams.get('serieId');
                    this.seasonNumber = urlParams.get('seasonNumber');
                },

                showGuestsStars(episode) {
                    const requestOptions = {
                        method: "GET",
                        redirect: "follow"
                    };

                    const url = `https://api.themoviedb.org/3/tv/${this.serieId}/season/${this.seasonNumber}/episode/${episode.episode_number}/credits?api_key=0f1911236aa91d9d37ad2b1a76be3c5d`;

                    fetch(url, requestOptions)
                        .then((response) => {
                            if (!response.ok) {
                                throw new Error('Error: ' + response.status + ' ' + response.statusText);
                            }
                            return response.json();
                        })
                        .then((data) => {
                            this.guestStars = data.guest_stars || [];
                            console.log("Guest Stars:", this.guestStars);
                            this.guestsStarsModal = true;
                        })
                        .catch((error) => {
                            console.error('Error:', error);
                        });
                },

                closeGuestsStars() {
                    console.log("close");
                    this.guestsStarsModal = false;
                }
            },
            mounted() {
                this.getParamsFromUrl();
                if (this.serieId && this.seasonNumber) {
                    this.fetchEpisodes();
                } else {
                    console.log('Missing serieId or seasonNumber in URL');
                }
            }
        }).mount('#main');
    </script>
</body>

</html>